@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
	font-family: 'Roboto', sans-serif;
	background-color: #ddd;
}

#vis {
	height: 100%;
	width: 100%;
	-webkit-box-shadow: 0 0 2px 0px #aaa;
	box-shadow: 0 0 2px 0px #aaa;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #f9f9f9;
}

#ana {
	height:100%;
	overflow-x:hidden;
	overflow-y:scroll;
	padding-right: 20px;
}

.card {
	width:100%;
	-webkit-box-shadow: 0 0 2px 0px #aaa;
	box-shadow: 0 0 2px 0px #aaa;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #f9f9f9;
	margin-bottom: 10px;
}

.card-header {
	width:100%;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: #ccc;
}

.card-heading {
	font-size: large;
	font-weight: 300;
	padding:10px;
	vertical-align: middle;
}

.card-content {
	padding: 10px;
}

.card-comment {
	font-size: small;
	border-radius: 3px;
	border: 1px solid #ccc;
	padding: 5px;
}

#degreedist {
	width: 50%;
	max-height:150px; 
}

/* Table Styles */

table {
	font-size: small;
	overflow:hidden;
	border:1px solid #bbb;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	width:100%;
	border-spacing: 0px;
	margin-bottom: 15px;
	border-collapse: separate;
}
td {
	border-top:1px solid #bbb;
	border-right:1px solid #bbb;
	text-align:left;
	padding: 2px 10px;
}
td:last-child {
	border-right:none;
}
tr:first-child td {
	border-top:none;
}

/* Modifications to Bootstrap */

.glyphicon {
	top:4px;
}